$verde: #0c6e45;
$texto: #292929;

html {
  position: relative;
  min-height: 100%;  
  body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;  
    font-weight: 300;
    line-height:  2em;
    color: $texto;
  }
}

.navbar {  
  background-color: rgba(12, 110, 69, 0.5) !important;  
}
.navbar-scroll {  
  background-color: rgba(12, 110, 69, 0.9) !important;
  transition: background-color 0.5s;
}
@media(max-width: 768px){
  .navbar {background-color: rgba(12, 110, 69, 0.9) !important;}
}

h1 {  
}
h2, h3 {   
  margin-bottom: 1.5em;
  font-weight: 300;
}
h2 {
  font-size: 2em;
  color: $verde;
}

h3 {  
  font-size: 1.8em; 
}

.center {
  text-align: center;
}

/* ============================================================
SECTIONS
============================================================ */
section {
  padding:  120px 0 60px;
  &:last-child {
    margin-bottom: 0;
  }  
  p {
    font-weight: 300;
    margin-bottom: 1.8em;
    &:last-child {
      margin-bottom: 0;
    }
  }  
  &.parallax {
    background-position: 0 0;
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-color: rgba(0, 123, 255, 0.4);
    background-blend-mode: screen;    
  }
  &.parallax-sitio {
    background-image: url("../images/bg-sitio.jpg");    
  }
  &.parallax-3 {
    background-image: url("http://www.psd-dude.com/tutorials/resources-images/free-rain-and-raindrop-textures-for-photoshop/raindrops-window-background.jpg");
  }
}

/*footer*/
.footer .container-fluid {
  height: auto;
}
.footer {
  background-color: $verde;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
}
footer .container-fluid a {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;
  
}
footer .container-fluid p {
  display: inline-block;
  color: #ddd;
  padding-left: 1em;
  padding-right: 2em;
}

/* ============================================================
FULL VIDEO BACKGROUND
============================================================ */

.section-full {
  padding: 0;
  height:100vh;
  min-height:100vh;  
  }

.video-background {
  background: #000;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  //top: 0; right: 0; bottom: 0; left: 0;
  // z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}
#vidtop-content {
	top: 0;
  color: #fff;
  display: none;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }

/*
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
*/
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}

#dados {
  background: #fff url("../images/bg-estatistica.jpg") no-repeat 0 0;
  background-size: cover;
  min-height: 420px;
  padding: 70px 0;
  color: #fff;
  strong {
    display: block;
    font-size: 4em;
  }
  small {
    font-size: 0.5em;
  }
  span {
    display: block;
    margin: 0 auto 40px;
    padding: 4px 10px;
    width:  240px;
    border: solid 1px #fff;
  }
}

#joaquim {
  min-height: 555px;
  background: #fff url("../images/joaquim.jpg") no-repeat 50%  0;
  background-size: cover;
  background-attachment: fixed;
}

#educacaoambiental-img {
  min-height: 698px;
  background: #fff url("../images/educacao.jpg") no-repeat 50%  0;
  background-size: cover;
}

 #educacaoambiental2 {
  padding: 100px 0;
  p {
    padding: 0 0 60px ;
  }
}



#cooperativasolar-img {
  min-height: 320px;
  background: #fff url("../images/cooperativa.jpg") no-repeat 50%  0;
  background-size: cover;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 4rem;
  border-radius: 2rem;
}

.btn-outline-success {
  color: $verde;
  border-color: $verde;
  &:hover {
    background-color: $verde !important;
    border-color: $verde;
  }
}