$verde: #0c6e45;
$texto: #292929;

html {
  position: relative;
  min-height: 100%;
  font-size: 18px;  
  body {
    position: relative;
    font-family: 'Montserrat', sans-serif;     
    font-weight: 400;
    line-height:  1.8rem;
    color: $texto;
  }
}

.navbar {  
  background-color: rgba(12, 110, 69, 0.5) !important; 
  font-size: .9em;
  font-weight: 400;
}
.navbar-scroll {  
  background-color: rgba(12, 110, 69, 0.9) !important;
  transition: background-color 0.5s;
}
@media(max-width: 768px){
  .navbar {background-color: rgba(12, 110, 69, 0.9) !important;}
}

h2, h3 {   
  font-weight: 300;  
}
h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  color: $verde;
}
h3 {  
  margin-bottom: 2.7rem;
  font-size: 1.94rem; 
}
h4 {
  color: $verde;
  font-size: 1rem;
}

p strong {
  font-weight: 700;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}

.img-fluid {
  width: 100%;
}
/* ============================================================
SECTIONS
============================================================ */
section {
  padding:  120px 0 60px;
  &:last-child {
    margin-bottom: 0;
  }  
  p {
    margin-bottom: 1.8rem;
    &:last-child {
      margin-bottom: 0;
    }
  }  
  &.parallax {
    background-position: 0 0;
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    //background-color: rgba(0, 123, 255, 0.4);
    background-blend-mode: screen;    
  }
  &.parallax-sitio {
    background-image: url("../images/bg-sitio.jpg");    
  }
  &.parallax-3 {
    background-image: url("http://www.psd-dude.com/tutorials/resources-images/free-rain-and-raindrop-textures-for-photoshop/raindrops-window-background.jpg");
  }
}

/* ============================================================
FULL VIDEO BACKGROUND
============================================================ */

.section-full {
  position: relative;
  overflow: hidden;
  padding: 0;
  height:100vh;
  min-height:100vh;  
}
  
.section-full .video-bg {
 width: 100%;
 height: 0;
 padding-bottom: 56.25%;/* Aspect ratio */
 position: absolute;
}

.section-full .video-bg iframe {
 border: 0;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.section-full .content {
 position: relative;
 z-index: 1;
 display: none;
}
/*
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
*/
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}

#dados {
  background: #fff url("../images/bg-estatistica.jpg") no-repeat 0 0;
  background-size: cover;
  min-height: 420px;
  padding: 70px 0;
  color: #fff;
  strong {
    display: block;
    margin:  30px 0 0;
    font-size: 4.5rem;    
  }
  small {
    font-size: 2.6rem;
    line-height: 0;
  }
  span {
    display: block;
    margin: 40px auto;    
    line-height:  1.5rem;
    padding: 4px 10px;
    width:  240px;
    border: solid 1px #fff;
  }
}

#ositio {
  p {
    font-weight: 300;
  }
}

#joaquim {
  min-height: 555px;
  background: #fff url("../images/joaquim.jpg") no-repeat 50%  0;
  background-size: cover;
  background-attachment: fixed;
}

#educacaoambiental-img {
  min-height: 698px;
  background: #fff url("../images/educacao.jpg") no-repeat 50%  0;
  background-size: cover;
}

 #educacaoambiental2 {
  padding: 100px 0;
  p {
    padding: 0 0 60px ;
  }  
}

#cooperativasolar-img {
  min-height: 320px;
  background: #fff url("../images/cooperativa.jpg") no-repeat 50%  0;
  background-size: cover;
}

#cooperativasolar {
  ul {
    font-weight: 300;
  }
}

#horta {
  #icodina {
    position: relative;
    margin-bottom: 60px;
    div {
      position: absolute;
      top: 40%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #FFF;
      text-align: center;
      padding: 30px 10% 40px;
      h5 {
        font-family: 'Dancing Script', cursive;
        font-size: 5rem;
        padding: 0 0  20px 0;
      }
    }
  }
  .cestas {
    .opcoes {
      padding: 20px 0 0 22%;
      font-size: 1.3rem;
    }
  }
  #extras {
    width: 400px;
    margin:  20px auto 80px;
    text-align: left;
    line-height: 1.3rem;
    font-size: 1.3rem;    
    strong {
      float: left;
      color: $verde;
      display: block;
      height:  50px;
      margin-right: 20px;
      font-weight: 600;
    }    
  }
  #pontos {
    color: $verde;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;    
  }
  #pontos-e {
    border-right: solid 1px $verde;
    padding: 0 10%;
    strong {
      display: block;
      color: $verde;
    }
  }
  #pontos-r {
    padding: 0 10%;
    strong {
      display: block;
      color: $verde;
    }
  }
}

#newsletter {
  background: #FFF url(../images/bg-newsletter.jpg) no-repeat 0 0;
  background-size: cover;
  color: #FFF;
  padding: 60px 0;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #FFF;
  }
  h3 {
    margin: 0 0 20px 0;
  }
  input:not([type="submit"]) {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color:  #FFF;
    padding: 17px 25px;
    position: absolute;
    bottom: 10%;
  }
  button {
    border-radius: 0;
    font-size: 1.3rem;
    padding: 15px 30px;
    letter-spacing: -1px;
    position: absolute;
    bottom: 10%;
    margin-left: 40px;
  }
}


#noticias {
  background-color: $verde;
  min-height: 800px;
  h2 {
    color: #FFF;
  }
  p.subtitle {
    color: #FFF;
  }
  .row {
    padding: 0 60px;
    margin-top: 100px;
  }
  .img-news {
    padding: 0;    
  }
  .txt-news {
    padding: 40px;
    background-color: #FFF;
    color: #000;    
    h6 {
      font-size: 1.6rem;
    }
    hr {
      color: $verde;
      background-color: $verde;
      width: 80px;
      height: 3px;
      margin-bottom: 20px;;
    }
    button {
      border-radius: 0;
      padding:  10px 40px;
    }
  }
  .row.black {
    .txt-news {
      background-color: #000;
      color: #FFF;
      h6 {
        color: #FFF;  
      }
    }    
  }
}

#contato {
  h2 {
    margin-bottom: 20px;
  }
  p.emailcontato {
    font-weight: 600;
    font-size: 2rem;
    color: $verde;
    padding: 20px 0;
  }
  form {
    p {
      color: $verde;
      font-size: 1.6rem;
      padding: 0 0 20px 0;
      margin: 0;
    }
    input:not([type="submit"]), textarea {
      width: 100%;
      background-color: #ececec;
      border: none;
      color:  rgb(128,117,117);
      margin-bottom: 10px;
      padding: 15px;
    }
    button {
      border-radius: 0;
      padding: 15px 70px;
      float: right;
      font-size: 1.6rem;
    }
  }  
}

.btn-lg, .btn-group-lg > .btn {
  padding: 16px 100px;
  border-radius: 2rem;
}

.btn-outline-success {
  color: $verde;
  border-color: $verde;
  &:hover {
    background-color: $verde !important;
    border-color: $verde;
  }
}

#siganos {
  background-color:  #ececec;
  padding: 80px 0;
  a {
    color:$verde;
    font-size: 1.3rem;
    padding-left: 45px;
    line-height: 1.8rem;
    display: inline-block;
  }
  .facebook {
    background: transparent url(../images/ico-fb.png) no-repeat 0 50%;
  }
  .insta {
    background: transparent url(../images/ico-insta.png) no-repeat 0 50%;
  }
  .youtube {
    background: transparent url(../images/ico-yt.png) no-repeat 0 50%;
  }
}

/*footer*/
.footer {
  background-color: $verde;
  color: #FFF;
  padding: 40px 0 20px;;
  font-size: .8rem;
  line-height: 1.7rem;
  img {
    width: 100px;
    margin-bottom: 20px;
  }
  .navbar-nav {
    a {
      color: #FFF;
      padding: 0;
      &:hover {
        color: #CCC;
      }
    } 
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {  }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }